.student-card {
    border-radius: 15px;
    border: 3px solid gold; /* Bordure dorée */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-bottom: 20px;
    cursor: pointer;
}


.student-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.student-card-link {
    text-decoration: none;
    color: inherit;

}

.student-card-link:hover {
    color: inherit;
    text-decoration: none;
}


.card-body {
    display: flex;
    align-items: center;
}

.card-img-left {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.student-info {
    margin-left: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.student-info p {
    margin: 0;
}

.student-info hr {
    margin: 10px 0;
}

.student-card {
    transition: transform 0.2s ease-in-out;
}
.student-card:hover {
    transform: translateY(-5px);
}
.student-info {
    max-height: 100%;
    overflow: hidden;
}
.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 767px) {
    .student-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .student-card img {
        margin-bottom: 15px;
    }

    .student-info {
        text-align: center;
    }
}

/* Centrer la pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.notification-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.8rem;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.question-label {
    font-size: 18px;
    font-weight: 500;
    color: #555;
}
.rating {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}
.btn-custom {
    background-color: #4CAF50;
    color: white;
}
.btn-custom:hover {
    background-color: #45a049;
}
.tab-content {
    margin-top: 20px;
}